// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";
@import "product";
@import "paginate";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~vue-select/src/scss/vue-select.scss";

@font-face {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Comfortaa"),
        /* Если не получилось, загрузит woff2 */ url("/font/comfortaa.woff2")
            format("woff2"),
        /* Если браузер не поддерживает woff2, загрузит woff */
            url("/font/comfortaa.woff") format("woff");
}

html {
    height: 100% !important;
}

body {
    font-family: "Comfortaa";
    min-height: 100% !important;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100% !important;
    heder {
    }
    main {
        flex: 1 1 auto;
    }
    footer {
    }
}

/* Order */
.use-message {
    background: #ef4b4c !important;
    color: #e9e9eb !important;
}

/* Cabinet */

.circle {
    clip-path: circle(3rem);
}

.circle-min {
    clip-path: circle(0.8rem);
}
