.column-footer {
    border-radius: 6px !important;
    background-color: #181818 !important;
}

.body-footer {
    padding-top: 1rem;
    background-color: #121212 !important;
    color: white !important;
}
